.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 10px 15px;
  box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    opacity: 0.7;
  }
}

.sidenavbar {
  padding: 10px 15px;
  width: 30px;
  background-color: grey;
  display: flex;
  flex-direction: column;

  img {
    margin: 10px 0;
    height: 30px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

}

.content {
  width: 100%;
}

.card {
  box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px;
  flex-grow: 1;
  flex-basis: auto;
  flex-basis: 50%;

  h1 {
    margin-bottom: 20px;
    display: inline-grid;

    &:after {
      position: relative;
      content: '';
      width: 100%;
      margin-top: 3px;
      height: 3px;
      background-color: red;
    }
  }

  .content {
    display: flex;
    flex-direction: row;

    img {
      margin-right: 20px;
    }

    .row {
      margin-bottom: 10px;

      :first-child {
        min-width: 100px;
      }
    }
  }
}

.card-2 {
  .content .contentpart {
    flex-grow: 1;

    &:nth-child(2) {
      border-left: 2px black solid;
      margin-left: 30px;
      padding-left: 30px;
  }
  }
}