.App {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 10px 15px;
  box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    opacity: 0.7;
  }
}

.sidenavbar {
  padding: 10px 15px;
  width: 30px;
  background-color: grey;
  display: flex;
  flex-direction: column;

  img {
    margin: 10px 0;
    height: 30px;
  }
}

.img-face {
  border-radius: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
}

.content {
  width: 100%;
}

.card {
  box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px;
  flex-grow: 1;
  flex-basis: auto;
  flex-basis: 50%;

  h1 {
    margin-bottom: 20px;
    display: inline-grid;

    &:after {
      position: relative;
      content: '';
      width: 100%;
      margin-top: 3px;
      height: 3px;
      background-color: red;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      margin: 20px;
      margin-left: 0;
    }

    .row {
      margin-bottom: 10px;
      flex-wrap: wrap;

      :first-child {
        min-width: 100px;
      }
    }
  }
}

.card-2 {
  .content .contentpart {
    flex-grow: 1;

    &:nth-child(2) {
      border-left: 2px black solid;
      margin-left: 30px;
      padding-left: 30px;
    }
  }
}

.cse .gsc-control-cse, .gsc-control-cse {
  padding: 0 !important;
}

.googleSearchBar {
  width: 100%;
}

.basic-profile-container .cover-image {
  position: relative;
  width: 100%;
  padding-bottom: 25%;
  background-color: #f3f6f8;
  background-position: center;
  background-size: cover;
}

.linkedInProfile {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .card-2 .content .contentpart:nth-child(1) {
    margin-bottom: 20px;
  }
  .card-2 .content .contentpart:nth-child(2) {
    border-left: none;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
}